<?xml version="1.0"?>
<config>
    <modules>
        <Zero1_GDPR>
            <version>1.1.4</version>
        </Zero1_GDPR>
    </modules>
    <frontend>
        <layout>
            <updates>
                <zero1_gdpr>
                    <file>zero1/gdpr.xml</file>
                </zero1_gdpr>
            </updates>
        </layout>
        <routers>
            <zero1_gdpr>
                <use>standard</use>
                <args>
                    <module>Zero1_GDPR</module>
                    <frontName>zero1_gdpr</frontName>
                </args>
            </zero1_gdpr>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <zero1_gdpr before="Mage_Adminhtml">Zero1_GDPR_Adminhtml</zero1_gdpr>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <blocks>
            <zero1_gdpr>
                <class>Zero1_GDPR_Block</class>
            </zero1_gdpr>
        </blocks>
        <models>
            <zero1_gdpr>
                <class>Zero1_GDPR_Model</class>
            </zero1_gdpr>
        </models>
        <helpers>
            <zero1_gdpr>
                <class>Zero1_GDPR_Helper</class>
            </zero1_gdpr>
        </helpers>
        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <zero1_gdpr_model_resource_observer>
                        <class>Zero1_GDPR_Model_Observer</class>
                        <method>addAnonymiseButton</method>
                    </zero1_gdpr_model_resource_observer>
                </observers>
            </adminhtml_widget_container_html_before>
        </events>
        <template>
            <email>
                <zero1_gdpr_confirm translate="label" module="zero1_gdpr">
                    <label>ZERO-1 GDPR Confirm</label>
                    <file>zero1/gdpr/confirm.html</file>
                    <type>html</type>
                </zero1_gdpr_confirm>
                <zero1_gdpr_success translate="label" module="zero1_gdpr">
                    <label>ZERO-1 GDPR Success</label>
                    <file>zero1/gdpr/success.html</file>
                    <type>html</type>
                </zero1_gdpr_success>
            </email>
        </template>
    </global>
    <default>
        <zero1_gdpr>
            <options>
                <enabled>1</enabled>
            </options>
            <configuration>
                <cms_page>home</cms_page>
            </configuration>
        </zero1_gdpr>
    </default>
</config>