<?xml version="1.0"?>
<config>
    <modules>
        <BPMedia_GDPR>
            <version>1.2.0</version>
        </BPMedia_GDPR>
    </modules>
    <frontend>
        <layout>
            <updates>
                <bpmedia_gdpr>
                    <file>bpmedia/gdpr.xml</file>
                </bpmedia_gdpr>
            </updates>
        </layout>
        <routers>
            <bpmedia_gdpr>
                <use>standard</use>
                <args>
                    <module>BPMedia_GDPR</module>
                    <frontName>bpmedia_gdpr</frontName>
                </args>
            </bpmedia_gdpr>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <bpmedia_gdpr before="Mage_Adminhtml">BPMedia_GDPR_Adminhtml</bpmedia_gdpr>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <blocks>
            <bpmedia_gdpr>
                <class>BPMedia_GDPR_Block</class>
            </bpmedia_gdpr>
        </blocks>
        <models>
            <bpmedia_gdpr>
                <class>BPMedia_GDPR_Model</class>
            </bpmedia_gdpr>
        </models>
        <helpers>
            <bpmedia_gdpr>
                <class>BPMedia_GDPR_Helper</class>
            </bpmedia_gdpr>
        </helpers>
        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <bpmedia_gdpr_model_resource_observer>
                        <class>BPMedia_GDPR_Model_Observer</class>
                        <method>addAnonymiseButton</method>
                    </bpmedia_gdpr_model_resource_observer>
                </observers>
            </adminhtml_widget_container_html_before>
        </events>
        <template>
            <email>
                <bpmedia_gdpr_confirm translate="label" module="bpmedia_gdpr">
                    <label>BPMedia GDPR Confirm</label>
                    <file>bpmedia/gdpr/confirm.html</file>
                    <type>html</type>
                </bpmedia_gdpr_confirm>
                <bpmedia_gdpr_success translate="label" module="bpmedia_gdpr">
                    <label>BPMedia GDPR Success</label>
                    <file>bpmedia/gdpr/success.html</file>
                    <type>html</type>
                </bpmedia_gdpr_success>
            </email>
        </template>
    </global>
    <default>
        <bpmedia_gdpr>
            <options>
                <enabled>1</enabled>
            </options>
            <configuration>
                <cms_page>home</cms_page>
            </configuration>
        </bpmedia_gdpr>
    </default>
</config>